[FORMAT]

# Expected format of line ending, e.g. empty (any line ending), LF or CRLF.
expected-line-ending-format=LF

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*((# )?<?https?://\S+>?|# pylint:.*)$

# Maximum number of characters on a single line.
max-line-length=79